
.loader {
	position: fixed;
	left: 45%;
	top: 50%;
	z-index:10000;
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #273746;
	border-bottom: 2px solid #273746;
	border-left: 2px solid #273746;
	border-right: 2px solid #273746;
	width: 120px;
	height:120px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;

}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}